<div class="card" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">{{produto.nome}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">R${{produto.preco}}</h6>
    <p class="card-text">Estoque: {{produto.estoque}}</p>
    <a href="#" class="card-link">Editar</a>
    <a href="#" class="card-link">Apagar</a>
  </div>
</div>

<div class="mt-2">
    <a href="/produto"><i class="bi bi-arrow-left"></i></a>
  </div>