/* Use posicionamento relativo para posicionar os blocos conforme a imagem resultado_final.png. */

div.blue {
  width: 100px;
  height: 200px;
  background-color: blue;
}

div.yellow {
  width: 100px;
  height: 150px;
  background-color: yellow;
  position: relative;
  left: 100px;
  top: -200px;
}

div.red {
  width: 100px;
  height: 150px;
  background-color: red;
  position: relative;
  left: 200px;
  top: -350px;
}

div.green {
  width: 200px;
  height: 50px;
  background-color: green;
  position: relative;
  left: 100px;
  top: -350px;
}
}
